body {
  padding: 0;
  margin: 0;
 /* background-image: url(/images/debut_light.png); */
  background-image: url(/images/binding_light.png);
}

header {
  width: 74%;
  max-width: 75%;
  margin: 0 auto;
  background-image: url(/images/debut_light.png);
  padding: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 2.357em;
    color: #06BD28;
    float: left;
    width: 40%;
}

div#newRoom {
  float: right;
}

.startOption {
  float: left;
  margin-right: 40px;
}

.startOption img {
  width: 120px;
  height: 120px;
  float: left;
  cursor: pointer;
}

.startOption div.button {
  clear: both;
}

#wrapper {
    width: 75%;
    padding: 5px;
    margin: 10px auto;
}

#videos {
  float: left;
  width: 33%;
  margin-right: 10px;
}

#pickNames {
  float: left;
}

#guess {
  float: left;
}

#answerButtons {
  float: left;
  font-size: 2em;
  margin-top: 55px;
}

#answerButtons #btnNo {
  border: 0.1em red solid;
  color: red;
}

#answerButtons #btnNo:hover {
  background-color: red;
  color: #EAE9E9;
}

#name {
  z-index: 2;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

#opponent {
  position: relative;
  width: 50%;
  float: left;
  margin: 0;
}

video {
  float: left;
  width: 100%;
}

#chatbox {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 25%;
}

#chatinput {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  font: 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 23px;
  margin-bottom: 0px;
  padding: 5px 0;
  width: 100%;
}

#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  font: 12px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 250px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 100%;
}

.flip {
-webkit-transform: rotateY(180deg);
}

.button {
  text-transform: uppercase;
  border: 0.1em #06BD28 solid;
  color: #06BD28;
  margin: 0;
  padding: 0.5em 0.4375em;
  font-size: 0.8725em;
  display:inline-block;
}

.button:hover {
  background-image: none;
  background-color: #06BD28;
  color: #EAE9E9;
  cursor: pointer;
}
.button:active {
  position:relative;
  top:1px;
}

/* home */

div#home #gameMode  {
  position:fixed;
    top: 34%;
    left: 33%;
    border: none;
}

/* game */

div#game {
  /*background-image: url(/images/billie_holiday.png);*/
  background-image: url(/images/debut_light.png); 
  width: 96%;
  max-width: 97%;
  margin: 10px auto;
  padding: 20px;
}

#end {
  width: 35%;
  background-image: url(/images/debut_light.png);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#end p {
  margin-bottom: 30px;
}

#selectQuestion {
  margin-bottom: 20px;
  line-height: 20px;
}

#answers {
  float: right;
  margin-right: 15%;
}

#answers * {
  float: left;
  clear: both;
}

#answers #turns {
  float: left;
  color: red;
  clear: none;
  font-size: 1.2em;
}

p#invite {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 1.2em;
  width: 40%;
  float: left;
}

/* combobox */
.ui-widget {
  font-size: 0.75em;
  float: left;
}

#btnAsk {
  margin-left: 3em;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}
