html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
 /* background-image: url(/images/debut_light.png); */
  background-image: url(/images/billie_holiday.png);
}

#videos {
  float: left;
  width: 33%;
  margin-right: 10px;
}

#pickNames {
  float: left;
}

#answerButtons {
  float: left;
  font-size: 2em;
}

#answerButtons #btnNo {
  border: 0.1em red solid;
  color: red;
}

#answerButtons #btnNo:hover {
  background-color: red;
  color: #EAE9E9;
}

#name {
  z-index: 2;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

#opponent {
  position: absolute;
  width: 20%;
  left: 0px;
  bottom: 0px;
  margin: 0;
}

video {
  float: left;
  width: 100%;
}

#chatbox {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 25%;
}

#chatinput {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  font: 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 23px;
  margin-bottom: 0px;
  padding: 5px 0;
  width: 100%;
}

#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  font: 12px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 250px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 100%;
}

.flip {
-webkit-transform: rotateY(180deg);
}

.button {
  text-transform: uppercase;
  border: 0.1em #06BD28 solid;
  color: #06BD28;
  margin: 0;
  padding: 0.5em 0.4375em;
  font-size: 0.8725em;
  display:inline-block;
}

.button:hover {
  background-image: none;
  background-color: #06BD28;
  color: #EAE9E9;
}
.button:active {
  position:relative;
  top:1px;
}

/* home */

div#home {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
}

div#home #gameMode  {
  position:fixed;
    top: 50%;
    left: 50%;
    border: none;
    margin-top: -50px;
    margin-left: -100px;
}